@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap");

.container {
  text-align: center;
}

.wrapper {
  width: 1200px;
}

* {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 0;
}

h1 {
  color: #ff9e23;
  font-weight: 800;
  text-transform: uppercase;
}

input::placeholder {
  color: black;
}

ul,
li {
  list-style: none;
  cursor: pointer;
}

td {
  color: black;
}

/* --- HEADER --- */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9ebeb;
  padding: 20px 0px;
}

.header p {
  margin: -8px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  min-width: 200px;
  height: 40px;
  text-align: center;
}

/* --- BODY --- */

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioInputScreen {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 10px 0;
}

/* --- TITLE --- */

.title {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 35px;
  color: #ff9e23;
  font-weight: 800;
  text-transform: uppercase;
}

.title img {
  width: 25px;
  height: 29px;
  margin: 7px 0 0 10px;
}

/* --- LOCATION SCREEN --- */
.boxGrey {
  background-color: #f1f1f1;
  padding-left: 10px;
}

.inside {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.boxGrey p,
.boxWhite p {
  font-size: 20px;
}

.boxGrey img,
.boxWhite img {
  height: 29px;
  width: 25px;
  margin-right: 10px;
}

.boxSelect {
  width: 300px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border-color: #f6b04d;
  box-shadow: 0px 5px #f5b14e;
  outline: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select p {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 500;
}

.boxWhite {
  padding-left: 10px;
}

.inputSelect {
  width: 295px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #f6b04d;
  box-shadow: 0px 5px #f5b14e;
  outline: none;
  border-radius: 5px;
}

.infoZip {
  padding-left: 10px;
  margin-bottom: 40px;
}

.infoZip p {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}

/* --- AMOUNTS SCREEN --- */

.inputAmounts {
  width: 295px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #f6b04d;
  box-shadow: 0px 5px #f5b14e;
  outline: none;
  border-radius: 5px;
  text-align: end;
}

.inputAmountsGrey {
  width: 295px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #b9b9b9;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 5px #e4e4e4;
  outline: none;
  border-radius: 5px;
  text-align: end;
}

.formAmountsScreen {
  margin-bottom: 60px;
}

/* --- MAIL SCREEN --- */

.desktopEmail {
  display: flex;
  justify-content: center;
}

.pub {
  padding-left: 10px;
  margin-bottom: 60px;
}

.desktopEmail p {
  display: flex;
  align-items: center;
  background-color: #ff9e23;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 250px;
  padding: 0px 20px;
}

.desktopEmail img {
  padding: 30px;
}

.inputEmail {
  width: 295px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #b9b9b9;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 5px #e4e4e4;
  outline: none;
  border-radius: 5px;
}

/* --- FINISH SCREEN --- */

.legalMentionFinish {
  text-decoration: underline;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.dossier {
  display: flex;
  align-items: center;
}

.numberDossier {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}
/* --- INPUT RADIO --- */
.inputRadio {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  height: 95px;
  padding: 15px 0px;
  margin: 0 10px;
  box-shadow: 0 4px 0 #e4e4e4;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.inputRadioSelect {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9e23;
  border-radius: 10px;
  height: 95px;
  padding: 15px 0px;
  margin: 0 10px;
  box-shadow: 0 4px 0 #e57f00;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ff9e23;
  cursor: pointer;
}

.inputRadio:hover {
  background-color: #ff9e23;
  box-shadow: 0px 5px #e57f00;
  border: 1px solid #ff9e23;
}

.nameRadio {
  margin-right: 10px;
}

/* --- STEP --- */

.step {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  height: 40px;
}

.previous {
  color: black;
  font-size: 18px;
  text-decoration: underline;
}

.next {
  color: white;
  background-color: #ff9e23;
  border: none;
  font-size: 18px;
  text-align: center;
  width: 130px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 40px;
  text-decoration: none;
}

.greyBar {
  background-color: #f0f0f0;
  height: 10px;
  width: 400px;
  position: relative;
}

.orangeBar {
  background-color: #fadfb1;
  height: 10px;
  position: absolute;
}

.round {
  line-height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #f49e26;
  color: white;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.backRound {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #fadfb1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
}

/* --- BOTTOM --- */

.textBottom {
  display: flex;
}

.textBottom p {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.legalMention {
  text-decoration: underline;
  margin-left: 5px;
}

/* --- ADMIN SCREEN --- */

.topArray td {
  background-color: grey;
}

.inputAccesAdmin {
  margin: 20px 0 0 500px;
}

.array {
  display: flex;
}

.deleteDoss {
  margin-left: -1px;
}
